<style>
  html {
    font-family: "Avenir", Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 30px;
  }
  body {
    text-align: center;
  }
  .countryTooltip {
    background: #fff;
    padding: 5px;
    border: solid #DDD 1px;
    color: #666;
  }
</style>

<body>
  <a href="https://github.com/boscoh/rolling-globe">
    <img 
      style="position: absolute; top: 0; right: 0; border: 0;" 
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" 
      alt="Fork me on GitHub">
  </a>

  <h1>Rolling Chloropeth Globe Demo</h1>

  <div id="app">

    <input
      type="radio"
      v-model="mode"
      value="pop_est"
      @change="changeMode"/>
    population

    <input
      type="radio"
      v-model="mode"
      value="gdp_md_est"
      @change="changeMode"/>
    gross domestic product (M)

    <input
      type="radio"
      v-model="mode"
      value="gdp_per_cap"
      @change="changeMode"/>
    gross domestic product per capita

    <div>
      {{ message }}
      &nbsp;
    </div>

  </div>

  <div 
    id="globe"
    style="
      width: calc(100vw - 60px);
      height: calc(100vh - 160px);">
  </div>

</body>

<!-- development version, includes helpful console warnings -->
<script src="./require.js"></script>
<script>
  require([
    '../dist/rolling-globe.min.js',
    './vue.min.js',
  ], function (rollingGlobe, Vue) {

    var g = new rollingGlobe.Globe('#globe')

    var app = new Vue({
      el: '#app',

      data: {
        message: '',
        mode: 'pop_est' // or 'gdp_md_est
      },

      mounted: function () {

        g.clickCountry = function (i) {
          app.message = 'clicked: ' + g.getCountryFeature(i).properties.name
          g.setHighlight(i)
          g.rotateTransitionToICountry(i, function () {
            g.draw()
          })
        }

        g.dblclickCountry = function (i) {
          app.message = 'double-clicked: ' + g.getCountryFeature(i).properties.name
        }

        g.getCountryPopupHtml = function (i) {
          let country = g.getCountryFeature(i)
          return country.properties.name + ': ' + g.values[i]
        }

        window.onresize = function () { g.resize() }

        this.changeMode()
        g.rotateTransitionToICountry(145)
      },

      methods: {

        changeMode: function () {
          let propertyKey = this.mode
          for (let i = 0; i < g.countryFeatures.length; i += 1) {
            let country = g.countryFeatures[i]
            let value
            if (propertyKey === 'gdp_per_cap') {
              let gdp = parseFloat(country.properties.gdp_md_est)
              let pop = parseFloat(country.properties.pop_est)
              if (gdp < 0 || pop < 0) {
                value = 0
              } else {
                value = parseInt(1000000 * gdp / pop)
              }
            } else {
              value = country.properties[propertyKey]
            }
            g.values[i] = value
          }
          let color
          if (this.mode === 'pop_est') {
            color = 'green'
            g.highlightColor = 'red'
          } else if (this.mode === 'gdp_md_est') {
            color = 'blue'
            g.highlightColor = 'orange'
          } else {
            color = 'red'
            g.highlightColor = 'lightgreen'
          }
          if (propertyKey === 'gdp_per_cap') {
            g.resetCountryColorsFromValues(color, 100000)
          } else {
            g.resetCountryColorsFromValues(color)
          }
          g.draw()
          g.drawLegend()
        }
      }
    })
  })
</script>